/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: 2px dashed #333;
  outline-offset: 3px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  background-color: #fff;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
}




/* CONTAINER  */
.container {
  width: 100%;
  max-width: 1040px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* HEADER  */
.site-header {
  padding-top: 30px;
  padding-bottom: 30px;
}

.site-header-container {
  display: flex;
  justify-content: space-between;
}


/* SITENAV */
.sitenav {
  margin-left:  auto;
}

.sitenav-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

}

.sitenav-item:not(:last-child) {
  margin-right: 30px;
}

.sitenav-link {
  text-decoration: none;
  color: #333;
}

.sitenav-link:hover {
  opacity: 0.8;
}

.sitenav-link:active {
  opacity: 0.6;
}

.global-search-input {
  width: 170px;
  margin-left: 40px;
  border: 0;
  padding-bottom: 6px;
  border-bottom: 1px solid #333;
  font-size: 15px;
  line-height: 23px;
}
